<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>

<h1>Create Product</h1>

<form method="post">
    {% csrf_token %}

    <label>Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Price:</label><br>
    <input type="number" step="0.01" name="price" required><br><br>

    <label>Created date:</label><br>
    <input type="date" name="created_date" required><br><br>

    <label>Expire date:</label><br>
    <input type="date" name="expire_date"><br><br>

    <label>Description:</label><br>
    <textarea name="desc"></textarea><br><br>

    <label>Amount:</label><br>
    <input type="text" name="amount" placeholder="e.g. 2 kg or 6 ta"><br><br>


    <button type="submit">Create</button>
</form>

</body>
</html>
