<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="username" name="username"><br><br>
    <label>Password</label>
    <input type="password" name="password"><br><br>

    <button type="submit">Enter</button>  <button type="submit"><a href="{% url 'index' %}">Back</a></button>

    {% if error %}
    <p style="color:red">{{error}}</p>
    {% endif %}
</form>
</body>
</html>